.coinContainer{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headingContainer>h1{
    color: crimson;
    font-size: 30px;
    margin-top: 80px;
}

.coindetailsContainer{
    width: 80%;
    min-height: 100vh;
    margin: 10px;
    overflow-x:auto
}

.coindetailsContainer>table{
    width: 100%;
    min-height: 100vh;
}

.coindetailsContainer>table>thead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(197, 197, 197);
    border-top: 1px solid rgb(198, 198, 198);
}

.coindetailsContainer>table>thead>th{
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.coindetailsContainer>table>tbody{
    width: 100%;
    min-height: 100vh;
}


.coindetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(206, 206, 206);
    transition: all 0.2s;

}

.coindetails>td{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    
}


.coindetails:hover{
    background-color: rgb(245, 245, 245);
}

.coindetails>td>img{
    width: 30px;
    height: 30px;
}

.coindetails>td>h3{
    color: rgb(62, 62, 62);
    text-align: center;
}

.coindetails>:nth-child(2)>h3{
  margin-left: 10px;
}

.radio{
    width: 80%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.radio>div{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio>div>label{
    margin-left: 5px;
}

.btnarray{
    width: 80%;
    height: 60px;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin: 10px;

}

.btnarray::-webkit-scrollbar{
    display: none;
}

.btnarray>button{
    min-width: 40px;
    height: 40px;
    margin: 5px;
    background-color: black;
    outline: none;
    color: white;
    border: none;
    border-radius: 3px;
}

.btnarray>button:hover{
    scale: 1.1;
}